@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white; /* Fundo geral bege claro */
  color: black; /* Texto principal azul escuro */
}

.sectionOne  {
  margin-top: 20px;
}

.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}


.hero-wrapper {
  width: 60%;
  max-width: 1400px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 500px;
}

/* Texto */ 
.hero-text {
  width: 50%;
  padding: 30px;
}

.hero-text h1 {
  font-size: 2.7rem;
  margin-bottom: 10px;
  line-height: 1.2;
  color: #0b243d;
}

.hero-text p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  max-width: 600px;
  color: #0b243d;
}

.hero-buttons {
  width: 500px;
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}


/* Imagem */
.hero-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* Segunda seção */
.sectionTwo {
  background-color: #9C01B9; /* Fundo azul escuro */
  color: #fff; /* Texto branco para contraste */
}

.sectionTwo .hero-text h1,
.sectionTwo .hero-text p {
  color: #fff;
}

@media (max-width: 768px) {
  .sectionOne .hero-wrapper {
    margin-top: 20px;
    width: 100%;
  }
  .sectionTwo .hero-wrapper {
    margin-top: 20px;
    width: 100%;
  }

  .hero-container .hero-wrapper {
    width: 90%;
  }
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-text,
  .hero-image {
    width: 100% !important;
    padding: 20px;
  }

  .hero-text h1 {
    font-size: 1.8rem;
    line-height: 1.3;
    max-width: 100%;
    margin-bottom: 16px;
  }

  .hero-text p {
    font-size: 1rem;
    max-width: 100%;
  }

  .hero-buttons {
    width: 100% !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .hero-image img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
  }
}

